// Colors
$bgColor:white;
$mainColor:#002;
$secColor:#aaa;
$theme:#eee;
$heighList:#0d6efd;
// fonts
$spacing: 0.5rem;
// 
body {
    // margin-top: 5rem 0;
    font-family: 'Roboto', 'sans-serif';
    font-size: large;
}

.container {
    padding: 5rem $spacing;
    .right_col,
    left_col {
        padding: $spacing * 2;
    }
    .info {
        h1 {
            font-size: 4rem;
            font-weight: bolder;
        }
    }
}

a {
    text-decoration: none;
}

.main {
    background-color: $bgColor;
}

.main_field {
    .main_title {
        p {
            background-color: $theme;
            margin: 0;
            width: 100%;
            font-weight: bold;
            font-size: larger;
            margin: $spacing*2 auto;
        }
    }
    .content {
        i {
            margin-right: $spacing;
        }
        h4 {
            font-weight: bold;
        }
        .d-flex {
            #span {
                color: $secColor;
            }
            i {
                font-size: smaller;
            }
            h5 {
                // font-weight: lighter;
                font-size: medium;
            }
        }
        .sub_content {
            .time {
                color: $heighList;
            }
            h5 {
                padding-right: $spacing * 1.5;
                font-weight: bold;
            }
            .company {
                color: $secColor;
                font-weight: bold;
            }
            p {
                padding-left: $spacing;
                font-size: medium;
            }
            span {
                color: $secColor;
                font-weight: bolder;
            }
        }
    }
    .contacts {
        padding: 0px $spacing;
    }
    .col-6 {
        padding: $spacing;
        .d-flex {
            padding: 0 $spacing;
        }
    }
}